h1 {
  color: var(--color-primary);
  margin: 40px 10px;
}

#card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: #fff;
  margin-bottom: 50px;
  border-radius: 10px;
}
h1 {
  margin: 50px 0 40px;
}

#card h3 {
  color: var(--color-primary);
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600px;
  border-radius: 8px;
}
#card div {
  background-color: var(--color-background);
  border-radius: 10px;
  padding: 15px;
}
#card p {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
#card i {
  margin-right: 5px;
}
#cart {
  /* float: right; */
  display: none;
  width: 50vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  right: auto;
  left: auto; */
}
#cart span {
  color: #4869b7;
}
#cart h3 {
  background-color: var(--color-primary);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 25px;
  margin-bottom: 30px;
  width: 40vw;
}

#cart h5 {
  color: var(--color-error);
  border: 2px solid var(--color-error);
  padding: 40px 0;
  text-align: center;
  border-radius: 25px;
  font-size: 1.3rem;
  margin-bottom: 30px;
  width: 30vw;
}
#cart > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid var(--color-secondary);
  width: 35vw;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
}
#cart img {
  width: 100px;
  height: 100px;
  padding: 17px;
  border: 4px solid var(--color-secondary);
  border-radius: 25px;
}
#cart-info h4 {
  color: var(--color-primary);
  margin-bottom: 10px;
  font-size: 1.2rem;
}
#cart-info p {
  color: grey;
}
#cart-control div {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#cart-control div button {
  background: var(--color-secondary);
  border: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2s all ease-in;
}
#cart-control div button:hover {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 40%;
}
#cart-control > button {
  background-color: #fff;
  border: solid 1px var(--color-error);
  border-radius: 10px;
  color: var(--color-error);
  width: 100px;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
#cart-control > button:hover {
  background-color: var(--color-error);
  color: #fff;
}
header a,
header button {
  color: #000;
  text-decoration: none;
  background-color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  transition: all ease-in 0.1s;
  margin-left: 20px;
  cursor: pointer;
}
header a:hover,
header button:hover {
  color: #fff;
  background-color: #000;
}
header button {
  color: var(--color-error);
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin-bottom: 30px;
}
header h3 {
  color: var(--color-primary);
  font-size: 1.7rem;
}
