h1 {
  color: var(--color-primary);
  margin: 40px 10px;
}

#card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: #fff;
  margin-bottom: 50px;
  border-radius: 10px;
}
h1 {
  margin: 50px 0 40px;
}

#card h3 {
  color: var(--color-primary);
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600px;
  border-radius: 8px;
}
#card div {
  background-color: var(--color-background);
  border-radius: 10px;
  padding: 15px;
}
#card p {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
#card i {
  margin-right: 5px;
}
